<section>
    <div class="left-column">
        <p #paragraph [ngClass]="isInView?'slide-in-animation':'slide-out-animation'">
            let me tell you about myself...
        </p>
    </div>
    <div class="right-column">
        <!-- <div class="window">

        </div> -->
        <div class="about-me-text">
            <h3>Formal</h3>
            <p>My name is Ofek Daniel Arbeli, I'm 29 years old from Herzeliya, Israel.
            Born and raised in Jerusalem</p>
        </div>
        <div class="about-me-text">
            <h3>Not Formal</h3>
            <p>
                I'm a LEARNER who is (most of the time) funny, friendly, reliable
                and mature.
            </p>
            <p>
                I found a lot of interest in psychology, philosophy, technology and science.
            </p>
            <p>
                On my free time, I might be working on some project or eating pizza watching Netflix with my girlfriend.
            </p>
        </div>
        <div class="about-me-text">
            <h3>Right to the point</h3>
            <p>
                I love the solving problems while combining between logic and creative.
                On my career road, I've been searching for the perfect balance between code and design.
                I started my way studying design, but it was hard for me not to be able to bring my designs to life exactly how I visulized them in my mind.
                So I started to learn javascript, and it gave me the freedom I was looking for, so I went into an 8 month of coding bootcamp and started to work as a fullstack developer at Amdocs, it was closer to my dream, but was lacking the 
            </p>
            
        </div>
    </div>
</section>

<!-- <div class="picture-container">
    <img class="my-picture" src='../../../assets/images/Ofek-Arbeli.jpg'>
</div> -->