<section id="start-anchor">
    <div class="left-column">
        <p #paragraph [ngClass]="isInView?'slide-in-animation':'slide-out-animation'">
            let me tell you about myself...
        </p>
    </div>
    <div class="right-column">
        <!-- <div class="window">

        </div> -->
        <div class="about-me-text">
            <h3>A Designer</h3>
            <p>
                    My name is Ofek Daniel Arbeli, I'm 29 years old from Herzeliya, Israel.
            </p>
            <p>
                    My journey starts right after I came back from a big trip around the world, I came with a big insight - 
                    <span class="orange-marker">if I could work in something that I love, I wouldn't 'work' even a single day in my life.</span>
            </p>
            <p>
                    So back then, I knew I love to create, so I went to art school and started a degree in 'visual communications', where I learned UX and UI.
            </p>
            <p>
                    After 2 years, I realized that as a designer, I wasn't able to create my ideas as I was visualizing them in my mind. I was missing the coding part.
            </p>
        </div>
        <div class="about-me-text">
            <h3>A Developer</h3>
            <p>
                    For that I went to a fullstack Bootcamp course for 8 months, to learn how to be a front-end developer.
            </p>
            <p>
                    That was the best decision I have ever made. In the course, I flourished, I was able to combine my UX skills with the front-end skills and create beautiful componenets.
            </p>
            <p>
                    Becuase of that, I started to take projects as a freelancer, when my main target was to sharpen my skills and to study as much as possible.
            </p>
            <p>
                    After the course, I felt like I was finally able to create anything which comes to my mind and I started to work as a full-stack developer in Amdocs.            </p>
            <p>
                    As a full-stack developer, I learned a lot of technologies, <span class="orange-marker">but my main interest was and still is, to be a front end ux developer.</span>
            </p>
        </div>
        <div class="about-me-text">
            <h3>A Person</h3>
            <p>
                On My free time, I love hanging on with my friends, watch movies, draw and paint.
                I'm a learner, <span class="orange-marker">I found everything intresting</span> so I have the weirdest google search history.
            </p>
        </div>
    </div>
</section>

<!-- <div class="picture-container">
    <img class="my-picture" src='../../../assets/images/Ofek-Arbeli.jpg'>
</div> -->