<div class="anchor" #target></div>
<div class="project-wrapper">
    <div [ngClass]="open?'exit show-up':'exit disapear'" (click)="closeProject()">
        <i class="fas fa-times"></i>
    </div>
    <div [ngClass]="['project','anchor-point',open?'open':'close']" (click)="openSection(target)" (mouseenter)="playVideo()"
        (mouseleave)="stopVideo()">
        <div class="video-container">
            <video class="video" alt="muted" [src]="'../../../assets/videos/'+project.projectName+'.mp4'" type="video/mp4" muted
                playsinline preload="auto" 
                #videoRef [controls]="fullScreen"
                (fullscreenchange)="checkIfFullscreenClosed()"> //(timeupdate)="showPrograss()"
            </video>
            <div class="control-panel">
                <i class="fas fa-expand" (click)="setOnFullscreen()"></i>
            </div>
        </div>
        <div class="project-details">
            <!-- <div *ngIf="open" class="progressBar">
                <span class="progress" [ngStyle]="prograssStyle">
                </span>
            </div> -->
            <div class="project-title">
                <h3 class="project-name">{{project.projectName}} - {{project.projectDate}}</h3>
                <i *ngIf="project.isLast" class="fas fa-fire-alt"></i>
            </div>
            <div [ngClass]="['about',open?'about-open':'about-close']">
                {{project.projectInfo.users}}
            </div>
        </div>
        <div class="technologies-container">
            <app-technology *ngFor="let technology of project.projectInfo.devTechnologies" [technology]="technology">
            </app-technology>
        </div>
    </div>
</div>