<section>
    <div class="left-column">
        <p #paragraphReplica [ngClass]="['paragraphReplica',isReplicaInView?'slide-in-animation':'slide-out-animation']">
            take a look at my projects
        </p>
        <p #paragraph [ngClass]="['paragraph',isParagraphInView && !projectsService.selected?'slide-in-animation':'slide-out-animation']">
            take a look at my projects
        </p>
        <p [ngClass]="[projectsService.selected?'get-in':'get-out','short-brief']">
            <ng-container *ngIf="projectsService.selectedProject">
                {{projectsService.selectedProject.shortBrief}}
            </ng-container>
        </p>
    </div>
    <div class="right-column">
        <div class="grid">
            <app-project [project]="projectsService.projects[0]" class="top-left"></app-project>
            <app-project [project]="projectsService.projects[1]" class="top-center"></app-project>
            <app-project [project]="projectsService.projects[2]" class="top-right"></app-project>
            <app-project [project]="projectsService.projects[3]" class="bottom-left"></app-project>
            <app-project [project]="projectsService.projects[4]" class="bottom-center"></app-project>
        </div>
    </div>
</section>



