<section>
    <div class="left-column">
        <p #paragraph [ngClass]="isInView?'slide-in-animation':'slide-out-animation'">
            feel free to contact me anytime
        </p>
    </div>
    <div class="right-column">

        <div class="contact-wrapper" fxLayout="row" fxLayoutAlign="center center" dir='ltr'>
            <mat-card class="box">
                <div class="title-wrapper">
                    <h3 class="title">Contact me</h3>
                    <div class="icons">
                        <a href="https://wa.me/972506960285">
                            <h3 class="title icon"><i class="fab fa-whatsapp"></i></h3>
                        </a>
                        <a href="https://www.linkedin.com/in/ofek-daniel-arbeli-76546a88/">
                            <h3 class="title icon"><i class="fab fa-linkedin-in"></i></h3>
                        </a>
                        <a href="https://www.facebook.com/ofek.arbeli">
                            <h3 class="title icon"><i class="fab fa-facebook-f"></i></h3>
                        </a>
                    </div>
                </div>
                <div class="content">
                    <h1>+972506960285</h1>
                    <h1>ofekrbeli@gmail.com</h1>
                </div>
                <!-- <form [formGroup]="contactForm" class="contact-form" (ngSubmit)="onSubmit()">
                    <mat-card-content class="contact-content">
                        <mat-form-field class="form-input">
                            <input matInput placeholder="insert your name" formControlName="name" required>
                            <mat-error *ngIf="name.invalid && name.touched">
                                name is mandatory
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="form-input">
                            <input matInput placeholder="insert your email" formControlName="email" required>
                            <mat-error *ngIf="email.invalid && email.touched">
                                email is mandatory
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="form-input">
                            <input matInput placeholder="insert callback phone number" formControlName="cellularNumber" required>
                            <mat-error *ngIf="cellularNumber.invalid && cellularNumber.touched">
                                phone number is mandatory
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="form-input">
                            <input matInput placeholder="insert subject" formControlName="subject" required>
                            <mat-error *ngIf="subject.invalid && subject.touched">
                                subject is mandatory
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="form-input">
                            <textarea matInput placeholder="insert message" formControlName="message" required></textarea>
                            <mat-error *ngIf="subject.invalid && subject.touched">
                                message is mandatory
                            </mat-error>
                        </mat-form-field>
                    </mat-card-content>
                    <button mat-stroked-button color="accent" class="submit" [disabled]="contactForm.invalid">Send</button>
                </form> -->
            </mat-card>
        </div>

    </div>
</section>