<section>
    <div class="left-column">
        <p>
            welcome to my portfolio!
        </p>
    </div>
    <div class="right-column">
        <div class="headline">
            <h1 class="orange-marker">UX, UI</h1>
            <h1>&</h1>
            <h1 class="orange-marker">FRONT</h1>
            <h1>END</h1>
            <h2>Ofek's portfolio</h2>
        </div>
        <i class="fas fa-angle-down"></i>
    </div>
</section>

<!-- <section *ngIf="contentSide==='LEFT'" class="interduce">
    <div class="picture-container">
        <img class="my-picture" src='../../../assets/images/Ofek-Arbeli.jpg'>
    </div>
</section> -->

