<section>
    <div class="left-column">
        <p #paragraph [ngClass]="isInView?'slide-in-animation':'slide-out-animation'">
            welcome to my portfolio!
        </p>
    </div>
    <div class="right-column">
        <app-left-hand></app-left-hand>
        <div class="headline">
            <h1 [ngClass]="firstLinePositions()">
                <span (click)="routeTo('about-me')">ABOUT</span>
                <div class="hide">ABOUT</div>
            </h1>
            <h1 [ngClass]="secondLinePositions()">
                <span (click)="routeTo('my-projects')">PROJECTS</span>
                <div class="hide">PROJECTS</div>
            </h1>
            <!-- <h1 class="orange-marker"></h1> -->
            <h1 [ngClass]="thirdLinePositions()">
                <span (click)="routeTo('contact-me')">CONTACT</span>
                <div class="hide">CONTACT</div>
            </h1>
            <h2 [ngClass]="forthLinePositions()">
                <div class="sub-title" (click)="routeTo('home')">Ofek's portfolio</div>
                <div class="hide">Ofek's portfolio</div>
            </h2>
        </div>
        <app-right-hand></app-right-hand>
        <i class="fas fa-angle-down"></i>
    </div>
</section>

<!-- <section *ngIf="contentSide==='LEFT'" class="interduce">
    <div class="picture-container">
        <img class="my-picture" src='../../../assets/images/Ofek-Arbeli.jpg'>
    </div>
</section> -->

